<div class="row">
<div class="col">
<mat-form-field>
    <input
    [(ngModel)]="departureAirport"
    matInput placeholder="{{dictionary.departureAirport}}" required [formControl]="airportControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredAirportOptions | async" [value]="option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
  </mat-form-field>
  <br>
  <mat-form-field>
      <input
      [(ngModel)]="arrivalAirport"
       matInput placeholder="{{dictionary.arrivalAirport}}" required [formControl]="airportControl" [matAutocomplete]="auto">
       <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredAirportOptions | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
    </mat-form-field>
<br>
<mat-form-field>
    <mat-select placeholder="{{dictionary.plane}}" [(ngModel)]="planeName" required>
        <mat-option *ngFor="let plane of allPlanes" [value]="plane.planeName">
          {{plane.planeName}}
        </mat-option>
      </mat-select>
  </mat-form-field>
<br>
<mat-form-field>
  <input
  [(ngModel)]="this.departureDate"
  matInput [matDatepicker]="picker" placeholder="{{dictionary.departureDate}}" required>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>
<br>
<mat-form-field>
  <input
  [(ngModel)]="this.departureTime"
   matInput placeholder="{{dictionary.departureHour}}" required>
</mat-form-field>
<br>
<mat-form-field>
  <input
  [(ngModel)]="this.arrivalDate"
  matInput [matDatepicker]="picker2" placeholder="{{dictionary.arrivalDate}}" required>
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2></mat-datepicker>
</mat-form-field>
<br>
<mat-form-field>
  <input
  [(ngModel)]="this.arrivalTime"
   matInput placeholder="{{dictionary.arrivalHour}}" required>
</mat-form-field>
<br>
<mat-form-field>
  <input
  [(ngModel)]="this.ticketCost"
   matInput placeholder="{{dictionary.ticketCost}}" required>
</mat-form-field>
<br>
<button mat-raised-button color="primary" (click)="makeFlight()" (click)="clicked=true" [disabled]="clicked">{{dictionary.addFlight}}</button>
<br>
<br>
<ng-container *ngIf="clicked"><button mat-raised-button color="primary"
 (click)="postFlight()" [routerLink]="['../flightadded']">{{dictionary.confirm}}
</button></ng-container>
</div>

<div class="col">
    <img class="add-image" src="assets/images/add.png" width="300px" height="360px">
</div>

</div>
