.top-icon {
  padding: 0 4px;
}

.spacer {
  flex: 1 1 auto;
}

.container {
  height: 100%;
  width: 100%;
  text-align: center;
}

.span-menu {
  padding-left: 30px;
  padding-right: 0px;
}

.span-title {
  padding-left: 10px;
  padding-right: 0px;
}

.span-hello {
  padding-left: 10px;
  padding-right: 0px;
  font-size: 15px;
}

